html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: hwb(0 98% 2%); 
    color: #333; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
    
}


/* Animação para deslizar da esquerda para a direita */
@keyframes slideRight {
    0% {
        transform: translateX(-100%); /* Começa fora da tela à esquerda */
        opacity:0 ; 
    }
    100% {
        transform: translateX(0); /* Move para a posição original */
        opacity: 1; 
    }
}

.slide-right {
    animation: slideRight 2s ease-in-out; /* Aplica a animação com duração de 2 segundos */
    position: relative; 
}

/* Cabeçalho */
.header {
    background-color: white; 
    width: 100%; 
    padding: 20px 0; 
    text-align: center; 
}

.header img {
    max-width: 150px; 
}

/* Título */
h2 {
    margin: 20px 0; 
    color: #4CAF50; 
}

/* Formulário */
div {
    margin: 10px 0; 
}

label {
    font-weight: bold; 
    margin-right: 10px; 
}
input,
select,
button {
    margin: 10px; 
    padding: 10px; 
    border: 1px solid #05b938;
    border-radius: 5px; 
    font-size: 16px; 
    width: 300px;
    max-width: 100%;
    box-sizing: border-box; 
}

input:focus,
select:focus {
    border-color: #4CAF50; 
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
}

/* Botões */
button {
    background-color: #4CAF50; 
    color: white; 
    border: lightgreen; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #45a049; 
}

button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

/* QR Code */
#leitorQR {
    margin: 20px auto; 
    width: 250px;
    height: 250px; 
    border: 2px dashed #4CAF50; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: #999; 
}

/* Rodapé */
footer {
    margin-top: 20px; 
    padding: 10px; 
    background-color: #333; 
    color: white; 
    font-size: 14px; 
    text-align: center; 
    max-width: 100%; 
}

/* Remove as setas de aumentar/diminuir em campos type="number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

/* Estilo para o contentor de opções */
.options-container {
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    margin: 20px auto; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow-x: auto;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.options-container ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.options-container li {
    margin: 10px 0; 
}

/* Estilo para links desabilitados */
.options-container a.disabled {
    pointer-events: none; 
    opacity: 0.5; 
    color: gray; 
}

.options-container a {
    text-decoration: none;
    color: #4CAF50; 
    font-size: 16px; 
    font-weight: bold; 
    display:inline-block;
    max-width:  100%; 
    width: 100%; 
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

.options-container a:hover {
    text-decoration: underline; 
    color: #4CAF50; 
}
/* Estilo para o formulário */
form#dataForm {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    margin-bottom: 20px; 
    width: 100%; 
   margin: 20px auto;
}

form#dataForm label {
    font-weight: bold; 
    margin-right: 5px; 
}

form#dataForm input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 100%; 
    box-sizing: border-box;
}

form#dataForm button {
    padding: 10px; 
    font-size: 14px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 10px; 
}

form#dataForm button:hover {
    background-color: #4CAF50; 
}
/* Estilo para adicionar linhas entre colunas nas tabelas */
table {
    border-collapse: collapse; 
    width: 100%; 
}

th, td {
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: left; 
}

thead th {
    background-color: #f2f2f2; 
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        min-height: auto;
    }

    .header img {
        max-width: 100%; /* Reduz o tamanho do logo */
    }
    .header, footer {
        width: 100%; /* Faz o cabeçalho e rodapé ocuparem toda a largura */
    }
        form#dataForm {
        max-width: 400px;
    }
    input, select, button {
        max-width: 400px;
    }
    .requisicoes_container {
        overflow-x: auto; /* Permite deslizar horizontalmente */
    }

    table {
        width: 100%; /* Faz a tabela ocupar toda a largura */
        font-size: 10px; /* Reduz o tamanho da fonte na tabela */
    }

    th, td {
        padding: 5px; /* Reduz o espaço das células */
         border: 1px solid #ddd;
        text-align: left;
    }

    button {
        width: 75%; /* Faz os botões ocuparem toda a largura */
        font-size: 10px; /* Ajusta o tamanho da fonte dos botões */
    }
}
#qr-reader {
    display: none; /* Esconde inicialmente */
    width: 300px;
    height: auto;
    margin: 20px auto;
    border: 2px dashed #4CAF50;
    padding: 10px;
}

.botao-inicio {
   background-color: #4CAF50; 
    color: white; 
    border: lightgreen; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.botao-inicio:hover {
    background-color: #45a049; 
}
